In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
#load dataset
df=pd.read_csv('/content/drive/MyDrive/GoogleColab/telecom_churn.csv')

In [3]:
#first 5 records
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [4]:
#check null values in our dataset
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df["TotalCharges"].value_counts()

           11
20.2       11
19.75       9
20.05       8
19.65       8
           ..
188.1       1
424.15      1
1978.65     1
6148.45     1
2680.15     1
Name: TotalCharges, Length: 6531, dtype: int64

In [7]:
#replace space with null values in TotalCharges column  permanently
df["TotalCharges"].replace(" ",np.nan,inplace=True)

In [8]:
df.isnull().sum() #check null values

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [9]:
#to change the datatype of TotalCharges column in float 
df["TotalCharges"]=df["TotalCharges"].astype("float")

In [10]:
#check % of null values of TotalCharges  column
df["TotalCharges"].isnull().sum()/df.shape[0]*100

0.1561834445548772

In [11]:
#fill of null values of TotalCharges column with help of mean or median
#permanently 
df['TotalCharges'].fillna(df['TotalCharges'].mean(),inplace=True)

In [12]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [14]:
#Remove unwanted column permanent
df.drop("customerID",axis=1,inplace=True)

In [15]:
# separate all object features(columns) and numeric features (column)
df_cat=df.select_dtypes('object')
df_num=df.select_dtypes(['int64','float64'])

In [16]:
from sklearn.preprocessing import LabelEncoder
#create the object of LabelEncoder class le
le=LabelEncoder()
for i in df_cat:
    df_cat[i]=le.fit_transform(df_cat[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
df_cat.head()

   gender  Partner  Dependents  ...  PaperlessBilling  PaymentMethod  Churn
0       0        1           0  ...                 1              2      0
1       1        0           0  ...                 0              3      0
2       1        0           0  ...                 1              3      1
3       1        0           0  ...                 0              0      0
4       0        0           0  ...                 1              2      1

[5 rows x 16 columns]

In [18]:
#to join both numeric and categorical dataframe in new dataframe df_new
df_new=pd.concat([df_num,df_cat],axis=1)

In [19]:
df_new.head()

   SeniorCitizen  tenure  ...  PaymentMethod  Churn
0              0       1  ...              2      0
1              0      34  ...              3      0
2              0       2  ...              3      1
3              0      45  ...              0      0
4              0       2  ...              2      1

[5 rows x 20 columns]

In [20]:
#separate input features (independent variable)and output features(target)
X=df_new.drop("Churn",axis=1)
Y=df_new["Churn"]

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [23]:
#caling apply on input data X_train and X_test 
#use StandardScaler class (formula z-score=X-mean(X)/std(X))
from sklearn.preprocessing import StandardScaler

In [24]:
#create object of StandardScaler class
ss=StandardScaler()
#scaling on training input data
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)

In [25]:
from imblearn.over_sampling import RandomOverSampler

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [26]:
#create object of  RandomOverSampler() class
ros = RandomOverSampler()

In [27]:
pd.Series(Y_train).value_counts() #not apply Over sampler

0    3589
1    1341
Name: Churn, dtype: int64

In [28]:
X_sample1,Y_sample1 = ros.fit_sample(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [29]:
pd.Series(Y_sample1).value_counts()

1    3589
0    3589
dtype: int64

In [30]:
pd.Series(Y_test).value_counts() #before over sampler

0    1585
1     528
Name: Churn, dtype: int64

In [31]:

#applying over_sampler technique
X_sample_test,Y_sample_test = ros.fit_sample(X_test,Y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [32]:
pd.Series(Y_sample_test).value_counts()

1    1585
0    1585
dtype: int64

In [33]:
model=tf.keras.Sequential([
      tf.keras.layers.Dense(19,activation='relu',input_shape=(X.shape[1],)), #hidden layer1
      tf.keras.layers.Dense(19,activation='relu'), #hidden layes2
      tf.keras.layers.Dense(1,activation='sigmoid') #output layer
])

In [34]:
X.shape[1]

19

In [35]:
#to show the summary of our model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 19)                380
_________________________________________________________________
dense_1 (Dense)              (None, 19)                380
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 20
=================================================================
Total params: 780
Trainable params: 780
Non-trainable params: 0
_________________________________________________________________

In [36]:
#compile the model
model.compile(optimizer='sgd',loss='binary_crossentropy',metrics=['accuracy'])

In [37]:
#train the model
trained_model=model.fit(X_sample1,Y_sample1,epochs=50)

Epoch 1/50
225/225 [==============================] - 1s 1ms/step - loss: 0.6699 - accuracy: 0.5956
Epoch 2/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5861 - accuracy: 0.7123
Epoch 3/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5542 - accuracy: 0.7323
Epoch 4/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5377 - accuracy: 0.7310
Epoch 5/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5327 - accuracy: 0.7354
Epoch 6/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5249 - accuracy: 0.7451
Epoch 7/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5211 - accuracy: 0.7394
Epoch 8/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5137 - accuracy: 0.7525
Epoch 9/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4999 - accuracy: 0.7619
Epoch 10/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5046 - accuracy: 0.7586
Epoch 11/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5032 - accuracy: 0.7485
Epoch 12/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4904 - accuracy: 0.7663
Epoch 13/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4968 - accuracy: 0.7592
Epoch 14/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4957 - accuracy: 0.7602
Epoch 15/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4906 - accuracy: 0.7598
Epoch 16/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4914 - accuracy: 0.7641
Epoch 17/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.7631
Epoch 18/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.7677
Epoch 19/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4916 - accuracy: 0.7644
Epoch 20/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4852 - accuracy: 0.7699
Epoch 21/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4783 - accuracy: 0.7685
Epoch 22/50
225/225 [==============================] - 0s 1ms/step - loss: 0.5042 - accuracy: 0.7512
Epoch 23/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4837 - accuracy: 0.7648
Epoch 24/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4849 - accuracy: 0.7612
Epoch 25/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4795 - accuracy: 0.7685
Epoch 26/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4756 - accuracy: 0.7677
Epoch 27/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4668 - accuracy: 0.7746
Epoch 28/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4747 - accuracy: 0.7687
Epoch 29/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4829 - accuracy: 0.7667
Epoch 30/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4744 - accuracy: 0.7697
Epoch 31/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4719 - accuracy: 0.7742
Epoch 32/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4700 - accuracy: 0.7646
Epoch 33/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4728 - accuracy: 0.7709
Epoch 34/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4711 - accuracy: 0.7723
Epoch 35/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4742 - accuracy: 0.7721
Epoch 36/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4758 - accuracy: 0.7696
Epoch 37/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4703 - accuracy: 0.7737
Epoch 38/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4712 - accuracy: 0.7723
Epoch 39/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4766 - accuracy: 0.7613
Epoch 40/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4582 - accuracy: 0.7791
Epoch 41/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4778 - accuracy: 0.7636
Epoch 42/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4759 - accuracy: 0.7685
Epoch 43/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4784 - accuracy: 0.7645
Epoch 44/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4583 - accuracy: 0.7778
Epoch 45/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4686 - accuracy: 0.7749
Epoch 46/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4646 - accuracy: 0.7795
Epoch 47/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4642 - accuracy: 0.7773
Epoch 48/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4621 - accuracy: 0.7772
Epoch 49/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4720 - accuracy: 0.7687
Epoch 50/50
225/225 [==============================] - 0s 1ms/step - loss: 0.4642 - accuracy: 0.7784

In [38]:
#predict means testing the model use inbuilt method predict()
Y_pred=model.predict(X_sample_test)

In [39]:
Y_pred

array([[0.17077428],
       [0.16955307],
       [0.543763  ],
       ...,
       [0.6073891 ],
       [0.43770176],
       [0.8552922 ]], dtype=float32)

In [40]:
Y_pred=np.where(Y_pred>=0.5,1,0)

In [41]:
#Evaluation of model using clasification_report inbuilt class
from sklearn.metrics import classification_report

In [42]:
print(classification_report(Y_sample_test,Y_pred))

              precision    recall  f1-score   support

           0       0.80      0.74      0.77      1585
           1       0.76      0.81      0.78      1585

    accuracy                           0.78      3170
   macro avg       0.78      0.78      0.78      3170
weighted avg       0.78      0.78      0.78      3170

In [43]:
#Using regularisaion technique

In [44]:
model1 = tf.keras.models.Sequential([

    tf.keras.layers.Dense(19,input_shape=(X.shape[1],),activation="relu"), #hidden layer1
    tf.keras.layers.Dense(19,activation="relu",kernel_regularizer = tf.keras.regularizers.l2(0.02)), #hidden layer2
   
    tf.keras.layers.Dense(19,activation="relu",kernel_regularizer = tf.keras.regularizers.l2(0.02)), #hidden layer3
    tf.keras.layers.Dense(1,activation="sigmoid"), #output layer
    #here 0.01 is the value of lambda /alpha means hyperparameter
    #in ridge means L2= error or loss (RSS)+lambda*sum(squareof(all coef))


])

In [45]:
# Compile the model
model1.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [46]:
#train the model
trained_model1=model1.fit(X_sample1,Y_sample1,batch_size=100,epochs=50)

Epoch 1/50
72/72 [==============================] - 1s 2ms/step - loss: 1.3957 - accuracy: 0.5566
Epoch 2/50
72/72 [==============================] - 0s 2ms/step - loss: 1.0237 - accuracy: 0.7043
Epoch 3/50
72/72 [==============================] - 0s 2ms/step - loss: 0.8030 - accuracy: 0.7403
Epoch 4/50
72/72 [==============================] - 0s 1ms/step - loss: 0.6811 - accuracy: 0.7446
Epoch 5/50
72/72 [==============================] - 0s 2ms/step - loss: 0.6113 - accuracy: 0.7577
Epoch 6/50
72/72 [==============================] - 0s 1ms/step - loss: 0.5633 - accuracy: 0.7665
Epoch 7/50
72/72 [==============================] - 0s 1ms/step - loss: 0.5463 - accuracy: 0.7573
Epoch 8/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5355 - accuracy: 0.7595
Epoch 9/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5233 - accuracy: 0.7635
Epoch 10/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5102 - accuracy: 0.7635
Epoch 11/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5047 - accuracy: 0.7715
Epoch 12/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5032 - accuracy: 0.7687
Epoch 13/50
72/72 [==============================] - 0s 1ms/step - loss: 0.5149 - accuracy: 0.7578
Epoch 14/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5035 - accuracy: 0.7663
Epoch 15/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4936 - accuracy: 0.7701
Epoch 16/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4997 - accuracy: 0.7705
Epoch 17/50
72/72 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7679
Epoch 18/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4955 - accuracy: 0.7691
Epoch 19/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4974 - accuracy: 0.7674
Epoch 20/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4898 - accuracy: 0.7710
Epoch 21/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4995 - accuracy: 0.7674
Epoch 22/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4993 - accuracy: 0.7630
Epoch 23/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4887 - accuracy: 0.7677
Epoch 24/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4916 - accuracy: 0.7729
Epoch 25/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4982 - accuracy: 0.7674
Epoch 26/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4874 - accuracy: 0.7717
Epoch 27/50
72/72 [==============================] - 0s 2ms/step - loss: 0.5048 - accuracy: 0.7594
Epoch 28/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4925 - accuracy: 0.7733
Epoch 29/50
72/72 [==============================] - 0s 1ms/step - loss: 0.5020 - accuracy: 0.7624
Epoch 30/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4846 - accuracy: 0.7735
Epoch 31/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4840 - accuracy: 0.7711
Epoch 32/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4909 - accuracy: 0.7710
Epoch 33/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4894 - accuracy: 0.7676
Epoch 34/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4884 - accuracy: 0.7735
Epoch 35/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4790 - accuracy: 0.7818
Epoch 36/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4912 - accuracy: 0.7599
Epoch 37/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4934 - accuracy: 0.7681
Epoch 38/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4825 - accuracy: 0.7735
Epoch 39/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4676 - accuracy: 0.7797
Epoch 40/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4795 - accuracy: 0.7733
Epoch 41/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4798 - accuracy: 0.7756
Epoch 42/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4813 - accuracy: 0.7787
Epoch 43/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4861 - accuracy: 0.7772
Epoch 44/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4798 - accuracy: 0.7766
Epoch 45/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4661 - accuracy: 0.7873
Epoch 46/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4731 - accuracy: 0.7783
Epoch 47/50
72/72 [==============================] - 0s 2ms/step - loss: 0.4816 - accuracy: 0.7790
Epoch 48/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4850 - accuracy: 0.7679
Epoch 49/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4844 - accuracy: 0.7698
Epoch 50/50
72/72 [==============================] - 0s 1ms/step - loss: 0.4818 - accuracy: 0.7725

In [47]:
#test the model
Y_pred1=model1.predict(X_sample_test)

In [48]:
Y_pred1=np.where(Y_pred1>=0.5,1,0)

In [49]:
print(classification_report(Y_sample_test,Y_pred1))

              precision    recall  f1-score   support

           0       0.79      0.74      0.76      1585
           1       0.76      0.81      0.78      1585

    accuracy                           0.77      3170
   macro avg       0.77      0.77      0.77      3170
weighted avg       0.77      0.77      0.77      3170

In [50]:
#Regularisdation - dropout

In [51]:
#create a neural network
model2 = tf.keras.models.Sequential([

    tf.keras.layers.Dense(19,input_shape=(X.shape[1],),activation="relu"), #hiddenlayer1
    
    tf.keras.layers.Dense(19,activation="relu"),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(19,activation="relu"),
    tf.keras.layers.Dropout(0.1),
    tf.keras.layers.Dense(1,activation="sigmoid"),


])

In [52]:
#compile the model2
model2.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [53]:
trained_model2=model2.fit(X_sample1,Y_sample1,batch_size=50,epochs=100)

Epoch 1/100
144/144 [==============================] - 1s 1ms/step - loss: 0.6399 - accuracy: 0.6323
Epoch 2/100
144/144 [==============================] - 0s 2ms/step - loss: 0.5508 - accuracy: 0.7251
Epoch 3/100
144/144 [==============================] - 0s 2ms/step - loss: 0.5199 - accuracy: 0.7434
Epoch 4/100
144/144 [==============================] - 0s 1ms/step - loss: 0.5136 - accuracy: 0.7478
Epoch 5/100
144/144 [==============================] - 0s 1ms/step - loss: 0.5158 - accuracy: 0.7541
Epoch 6/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4967 - accuracy: 0.7620
Epoch 7/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4882 - accuracy: 0.7637
Epoch 8/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4830 - accuracy: 0.7680
Epoch 9/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4742 - accuracy: 0.7756
Epoch 10/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4793 - accuracy: 0.7734
Epoch 11/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4721 - accuracy: 0.7783
Epoch 12/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4763 - accuracy: 0.7791
Epoch 13/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4811 - accuracy: 0.7736
Epoch 14/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4707 - accuracy: 0.7760
Epoch 15/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4640 - accuracy: 0.7839
Epoch 16/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4742 - accuracy: 0.7733
Epoch 17/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4638 - accuracy: 0.7837
Epoch 18/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4690 - accuracy: 0.7818
Epoch 19/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4667 - accuracy: 0.7870
Epoch 20/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4547 - accuracy: 0.7898
Epoch 21/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4632 - accuracy: 0.7862
Epoch 22/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4524 - accuracy: 0.7809
Epoch 23/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4540 - accuracy: 0.7857
Epoch 24/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4538 - accuracy: 0.7872
Epoch 25/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4482 - accuracy: 0.7951
Epoch 26/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4544 - accuracy: 0.7853
Epoch 27/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4439 - accuracy: 0.7957
Epoch 28/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4434 - accuracy: 0.8026
Epoch 29/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4467 - accuracy: 0.7997
Epoch 30/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4453 - accuracy: 0.7946
Epoch 31/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4344 - accuracy: 0.8060
Epoch 32/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4459 - accuracy: 0.7929
Epoch 33/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4464 - accuracy: 0.7910
Epoch 34/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4447 - accuracy: 0.7974
Epoch 35/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4442 - accuracy: 0.7989
Epoch 36/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4310 - accuracy: 0.8057
Epoch 37/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4392 - accuracy: 0.7986
Epoch 38/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4179 - accuracy: 0.8090
Epoch 39/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4289 - accuracy: 0.8042
Epoch 40/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4355 - accuracy: 0.7886
Epoch 41/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.8076
Epoch 42/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4189 - accuracy: 0.8106
Epoch 43/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4307 - accuracy: 0.8045
Epoch 44/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4338 - accuracy: 0.7991
Epoch 45/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4286 - accuracy: 0.8073
Epoch 46/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8123
Epoch 47/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8127
Epoch 48/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4157 - accuracy: 0.8049
Epoch 49/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4264 - accuracy: 0.8070
Epoch 50/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4247 - accuracy: 0.8054
Epoch 51/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8136
Epoch 52/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4111 - accuracy: 0.8149
Epoch 53/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4148 - accuracy: 0.8176
Epoch 54/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4165 - accuracy: 0.8109
Epoch 55/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4211 - accuracy: 0.8014
Epoch 56/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4169 - accuracy: 0.8030
Epoch 57/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4247 - accuracy: 0.8006
Epoch 58/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4198 - accuracy: 0.8071
Epoch 59/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4196 - accuracy: 0.8066
Epoch 60/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4135 - accuracy: 0.8060
Epoch 61/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4231 - accuracy: 0.8024
Epoch 62/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4044 - accuracy: 0.8177
Epoch 63/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4121 - accuracy: 0.8037
Epoch 64/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8205
Epoch 65/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4027 - accuracy: 0.8185
Epoch 66/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4046 - accuracy: 0.8131
Epoch 67/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3964 - accuracy: 0.8229
Epoch 68/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4037 - accuracy: 0.8186
Epoch 69/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3984 - accuracy: 0.8194
Epoch 70/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8199
Epoch 71/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4102 - accuracy: 0.8094
Epoch 72/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4225 - accuracy: 0.8042
Epoch 73/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4034 - accuracy: 0.8170
Epoch 74/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4017 - accuracy: 0.8203
Epoch 75/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4011 - accuracy: 0.8173
Epoch 76/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8149
Epoch 77/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3993 - accuracy: 0.8209
Epoch 78/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8211
Epoch 79/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4010 - accuracy: 0.8143
Epoch 80/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4138 - accuracy: 0.8110
Epoch 81/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4134 - accuracy: 0.8085
Epoch 82/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4005 - accuracy: 0.8158
Epoch 83/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3954 - accuracy: 0.8222
Epoch 84/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4053 - accuracy: 0.8217
Epoch 85/100
144/144 [==============================] - 0s 1ms/step - loss: 0.4008 - accuracy: 0.8211
Epoch 86/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8120
Epoch 87/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3906 - accuracy: 0.8256
Epoch 88/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3869 - accuracy: 0.8215
Epoch 89/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3863 - accuracy: 0.8242
Epoch 90/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3966 - accuracy: 0.8176
Epoch 91/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8212
Epoch 92/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3853 - accuracy: 0.8280
Epoch 93/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3955 - accuracy: 0.8269
Epoch 94/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8286
Epoch 95/100
144/144 [==============================] - 0s 2ms/step - loss: 0.4045 - accuracy: 0.8128
Epoch 96/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8217
Epoch 97/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3820 - accuracy: 0.8275
Epoch 98/100
144/144 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8197
Epoch 99/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3909 - accuracy: 0.8265
Epoch 100/100
144/144 [==============================] - 0s 1ms/step - loss: 0.3970 - accuracy: 0.8198

In [54]:
# model predict
Y_pred2=model2.predict(X_sample_test)
Y_pred2=np.where(Y_pred>=0.5,1,0)

In [55]:
print(classification_report(Y_sample_test,Y_pred2))

              precision    recall  f1-score   support

           0       0.80      0.74      0.77      1585
           1       0.76      0.81      0.78      1585

    accuracy                           0.78      3170
   macro avg       0.78      0.78      0.78      3170
weighted avg       0.78      0.78      0.78      3170